[Unit]
Description=portainer container
Requires=docker.service
After=docker.service
[Service]
Restart=always
WorkingDirectory=/home/docker/docker-swarm-configs/portainer
# Shutdown container (if running) when unit is started
ExecStartPre=/usr/local/bin/docker-compose down
# Start container when unit is started
ExecStart=/usr/local/bin/docker-compose up
# Stop container when unit is stopped
ExecStop=/usr/local/bin/docker-compose down
[Install]
WantedBy=default.target
